<html>
  <body>

  <div >
    <label class="title">
      <div>
        <img
          class="d-block w-100"
          src="../../../assets/images/black.jpg"
          alt="back ground"
          style="height: 300px; width:100%; margin-top: -20px;  margin-right: -20px;"

        />
        <img
        style="margin-top: -290px; margin-left: 90px; cursor: pointer; width: 200px; height: 200px;"
        src="../../../assets/images/cv.jpg"
        alt="back ground"


      />

      <div class="centered" style="color: white;">
        <a href="../../assets/images/RESUME-1.pdf"><img  matTooltip="Download Resume"

          src="../../assets/images/down.png" alt="" style="width: 35px; height:35px; margin-left: 80px; margin-top: 15px;"></a>
        Adiba Sumaiya Khan
        </div>
        <p style=" margin-top: -50px;
        position: absolute;
        color: white;

        left: 50%;
        transform: translate(-50%, -50%)
        ">
         A tech enthusiast, who likes to apply her knowledge and skill
          wherever it is required. </p>


      </div>
    </label>

  </div>
  <div style=" display: flex; flex-direction: row; " >
    <mat-card class="customize-card">
      <p style="margin-top: 8px ;margin-bottom: 2px">
        <a href="https://www.linkedin.com/in/adiba-sumaiya-khan-71475092/"><img src="../../assets/images/link.png" alt="" style="width: 20px; height:20px; margin-left: 80px; margin-top: 15px;"></a>

         <a href="https://github.com/adibakhan-14"><img src="../../assets/images/github.png" alt="" style="width: 20px; height:20px; margin-left: 10px; margin-top: 15px;"></a>

         <a href="https://leetcode.com/Adiba_94/ "><img src="../../assets/images/leetcode.png" alt="" style="width: 20px; height:20px; margin-left: 10px; margin-top: 15px;"></a>

         <a href="https://www.researchgate.net/profile/Adiba_Sumaiya_Khan  "><img src="../../assets/images/research.png" alt="" style="width: 20px; height:20px; margin-left: 10px; margin-top: 15px;"></a>

       </p>
       <br>
      <p><b>Date of birth:</b> 14/09/1994</p>
      <hr>
      <p><b>Nationality:</b> Bangladeshi</p>
      <hr>
      <p><b>Gender:</b> Female</p>
      <hr>
      <p><b>Phone:</b> +8801775996664</p>
      <hr>
      <p><b>Email:</b> adibasumaiya.27@gmail.com</p>
      <hr>
      <p><b>Address:</b> Bashundhara R/A, Dhaka-1229,
        Bangladesh</p>
      <hr>
      <br>
      <h4>TECHNICAL SKILLS</h4>
      <hr>
      <p style="font-weight: bold; margin-left: 1px;">Front End</p>
      <hr>
      <p style=" margin-left: 10px">
        <li style="margin-bottom: 8px; font-weight: 300;">
          Javascript, Angular, ReactJS, Typescript, ES6+
        </li>
        <li> HTML,CSS, Angular Material, Bootstrap</li>
      </p>
      <hr>
      <p style="font-weight: bold; margin-left: 1px;">Back End</p>
      <hr>
      <p style=" margin-left: 10px">
        <li style="margin-bottom: 8px; font-weight: 300;">
          Node.js, Serverless, Express.js
        </li>
        <li style="margin-bottom: 8px; font-weight: 300;">
          RestAPI, Microservices Architecture
        </li>
        <li style="margin-bottom: 8px; font-weight: 300;"> DynamoDB, MySQL</li>
        <li style="margin-bottom: 8px; font-weight: 300;"> ASP Dotnet core</li>
      </p>
      <hr>
      <p style="font-weight: bold; margin-left: 1px;">Cloud Architecture </p>
      <hr>


          <ul>- Cognito User and Identity pool as UMSCognito User and Identity pool as UMS</ul>
          <ul>- AWS Api Gateway</ul>
          <ul>- AWS Lambda</ul>
          <ul>- Amplify</ul>
          <ul>- S3 Bucket</ul>
          <ul>- Route 53</ul>
          <ul>- CloudFront,
            CloudFormation</ul>
            <ul>- Implementation of IOT device with AWS IOT hub using AWS IoT MQTT</ul>
<ul>Git, CI/CD</ul>



      <hr>
      <p style="font-weight: bold; margin-left: 1px;">Programming Skills</p>
      <hr>
      <p style=" margin-left: 10px">
        <li style="margin-bottom: 8px; font-weight: 300;">
          C, C++, C#, JavaScript, TypeScript
        </li>
      </p>

      <br>

      <h4>LANGUAGE SKILLS</h4>
      <hr>
      <li style="margin-bottom: 8px;">Bengali: <span>Native Language</span></li>
      <li>English: <span>Advanced
      </span></li>

      <br>

      <h4>REFERENCES</h4>
      <hr>
      <p><b>Saad Azmeen-Ur-Rahman </b></p>
      <span>Senior Lecturer</span>
      <p><b>Email: </b>azmeen.rahman@northsouth.edu </p>
      <p><b>Phone:</b>+88 02 55668200 Ext – 1541 </p>

      <br>

      <p><b>Rashed Shelim</b></p>
      <span>Senior Lecturer</span>
      <p><b>Email: </b>rashed.shelim@northsouth.edu </p>
      <p style="margin-left: 2px"><b>Phone:</b> +88 02 55668200 Ext – 6192 </p>







    </mat-card>

    <mat-card class="card-body">
      <li style="font-weight: bold;">WORK EXPERIENCE</li>
      <hr>
      <p>06/09/2022 - Current - Ruston, Louisiana, USA</p>
      <p style="font-weight: bold; margin-left: 1px;">GRADUATE RESEARCH ASSISTANT - Louisiana Tech University.</p>

         <p style="margin-top: 10px; margin-left: 10px"> <li> Develop a simulation environment in C++ and OpenMPI </li>
        </p>

      <hr>
      <p>01/07/2020 - 31/08/2022 - Dhaka, Bangladesh</p>
      <p style="font-weight: bold; margin-left: 1px;">ASSISTANT SOFTWARE ENGINEER - ERA-Infotech LTD.</p>

         <p style="margin-top: 10px; margin-left: 10px"> <li> Developed full-stack web applications which processed, analyzed data visually</li>
          <li> Managed time-sensitive updates, including content changes and database upgrades</li>
          <li> Customized platform when business needs dynamically</li>
        </p>

        <hr>

        <p>01/07/2019 - 30/06/2020 - Dhaka, Bangladesh</p>
      <p style="font-weight: bold; margin-left: 1px;">TRAINEE SOFTWARE ENGINEER - ERA-Infotech LTD.</p>

         <p style="margin-top: 10px; margin-left: 10px">
           <li> Implementation of IOT device with AWS IOT hub using AWS IoT MQTT.</li>
          <li> Assist in the evaluation of new solutions for integration into the IoT Roadmap/Strategy</li>
          <li> Working knowledge on IoT Strategy, standards, protocols</li>
          <li> Hands-on experience with constrained devices such as Arduino, RaspberryPI and ARM</li>
          <li> Used AWS kinesis for live video streaming from client side</li>
        </p>

        <hr>

        <p>01/07/2018 - 30/03/2020 - Dhaka, Bangladesh</p>
      <p style="font-weight: bold; margin-left: 1px;">UNIVERSITY RESEARCH ASSISTANT - NORTH SOUTH UNIVERSITY</p>

         <p style="margin-top: 10px; margin-left: 10px">
           <li> Research Assistant under the Supervision of Mr. Rashed Shelim (URL: http://ece.northsouth.edu/people/
            rashed-shelim/). </li>
          <li> Research Areas- 5G Network Modeling, 5G User Mobility, Fronthaul, Resource Allocation, Game Theory, PID Control, Cloud Computing</li>

        </p>
        <br>


        <hr>

        <li style="font-weight: bold;">EDUCATION AND TRAINING</li>
        <hr>
        <p>06/09/2022 - Current - 201 Mayfield Ave, Ruston, LA 71272, United States</p>
        <p style="font-weight: 550;">DOCTOR OF PHILOSOPHY IN COMPUTATIONAL ANALYSIS AND MODELING - Louisiana Tech University</p>


        <p>01/02/2014 - 09/01/2019 - Plot- 15, Block-B, Bashundhara R/A, Dhaka, Bangladesh</p>
        <p style="font-weight: 550;">BACHELORS OF ELECTRICAL AND ELECTRONIC ENGINEERING - North South University</p>

        <p>31/05/2013 - 29/06/2013 - 5 Fuller Road, Dhaka 1000, Dhaka, Bangladesh</p>
        <p style="margin-left: 1px; font-weight: 550;">A LEVELS - British Council</p>

        <p>31/05/2010 - 29/06/2010 -  Plot 2, Road 8 & 9, Sector-1 , Uttara, Dhaka , Bangladesh </p>
        <p style="margin-left: 1px; font-weight: 550;">O LEVELS - Scholastica</p>

        <br>


        <hr>

        <li style="font-weight: bold;">PROJECTS</li>
        <hr>
        <h3>1. e-Recruitment</h3>
        <p style="font-weight: 550;">Involved as both      frontend and backend software development engineer for developing e-Recruitment (HR) module and deployed in EC2 sever.</p>
        <li>Worked on REST API using NodeJS (Express) and sequelize ORM with MySQL.</li>
        <li>Setup and managed windows servers on amazon using EC2, ELB, SSL, Security groups and IAM</li>
        <li>Managed CDN on Amazon Cloud Front to improve site
          performance.</li>

          <br>
          <h3>2. Fleet Management</h3>

        <p style="font-weight: 550;">Involved as a full stack web application developer to develop an ERP system for a truck management company to manage the truck hiring process between 3 different entities which are customer, admin and partner. </p>
        <li>Involved in front-end development in Angular</li>
        <li>Implemented REST API using AWS API Gateway, AWS Lambda with NodeJS with DynamoDB.</li>
        <li>Automated deployment for dev, test, staging, and production using Serverless framework, Bitbucket Pipeline.</li>
        <li>Hosted front-end code to S3 web hosting and route53</li>

        <br>
        <h3>3. User Management System </h3>
        <p style="font-weight: 550;">User Management System for all the projects of our Company. Complete stack for this project was C#, ASP.NET, MVC Pattern Entity Framework, Angular Material, Typescript, Web API, MySQL Database and Angular 9 </p>

        <br>


        <hr>

        <li style="font-weight: bold;">PUBLICATIONS</li>
        <hr>
        <h3 style="margin-left: 5px;">A Novel Approach to Mitigate the Intensity Underestimation Problem Of Classical MHCPP
          in 5G Small Cell Networks</h3>
          <hr>
          <p style="margin-top: 10px; margin-left:10px">
            <a href="https://ieeexplore.ieee.org/document/9077414"><img src="../../assets/images/link.jpg" alt="" style="width: 20px; height:20px; margin-left: 10px; margin-top: 15px;"></a>
            DOI: 10.1109/iEECON48109.2020.229580
            https://ieeexplore.ieee.org/document/9077414 – 2020
            <span>
              In this paper, we propose a novel model called Displaced Offspring Hard Core Point Process (DO-HCPP) by
              applying displacement theorem to shift the discs through a predefined angle in an iterative manner to
              obtain the maximum achievable intensity in a given region. Simulation results show that the intensity is
              much higher for our proposed model compared to traditional MHCPP.
            </span>


            </p>

            <br>

        <h3 style="margin-left: 5px;">Safe Sailing: GSM and GPS Controlled Autonomous Boat with Overweight Detection and Obstacle Avoidance </h3>
          <hr>
          <p style="margin-top: 10px; margin-left:10px; margin-bottom: 20px;">
            <a href="http://ijeecs.iaescore.com/index.php/IJEECS/article/view/16842"><img src="../../assets/images/link.jpg" alt="" style="width: 20px; height:20px; margin-left: 10px; margin-top: 15px;"></a> DOI: 10.11591/ijeecs.v14.i2.pp715-724
            http://ijeecs.iaescore.com/index.php/IJEECS/article/view/16842 – 2019
            <span>
              This paper aims to save thousands of lives by proposing a novel technique of ensuring the complete safety
of medium-sized aquatic vehicles using innovative ideas as well as augmented adaptations of myriad
existing technologies
            </span>


            </p>











    </mat-card>

    <!-- <mat-card class="customize-card"> -->

      <!-- <mat-selection-list
        #list
        class="table-wrapper-scroll-y my-custom-scrollbar"
      >


      </mat-selection-list> -->
      <!-- <mat-nav-list>
      <nav-menu-item
        *ngFor="let item of navItems"
        [item]="item"
        (click)="onAreaListControlChanged(item)"
      >
      {{item.displayName}}</nav-menu-item>
    </mat-nav-list> -->
    <!-- </mat-card> -->
  </div>

</body>
</html>
